@font-face {
    font-family: 'Kodchasan';
    src: url('./Kodchasan/Kodchasan-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Kodchasan';
    src: url('./Kodchasan/Kodchasan-Bold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Kodchasan';
    src: url('./Kodchasan/Kodchasan-SemiBold.ttf');
    font-weight: 500;
}